.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;

  h2 {
    margin: 0;
  }

  .toolbar-actions {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

.text-center {
  text-align: center;
}
.py-4 {
  padding: 1rem 0;
}