.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  height: fit-content;
  max-width: 400px;
  width: 100%;
  margin: auto;

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

  }

  h2 {
    font-size: 2rem;
    font-weight: 900;
    color: #333;
    margin-bottom: 0.5rem;
  }

  .welcome-text {
    color: #6c757d;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
  }

  .field {
    margin-bottom: 1rem;
    width: 100%;

    p-float-label {
      width: 100%;
    }

    input {
      width: 100%;
      padding-left: 12px;
    }


  }


}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f5f7fa;
}
