:host ::ng-deep .p-dialog-content {
    display: flex;
    max-height: 70vh;
    overflow-y: auto;
    flex-direction: column;
    word-wrap: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    word-break: break-word;
    margin: 10px;
}



::ng-deep .p-dialog-content p {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}


:host ::ng-deep .p-dialog-footer {
    border-top: var(--surface-border) 2px solid;
    padding-top: 10px;
}